body {
    /* padding: 100px; */
    height: max-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/media/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif, serif;
}

body>div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

p,
h1,
button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img-left {
    filter: drop-shadow(0 0 1.25rem rgb(0, 0, 0));
    z-index: -1;
    border-radius: 2%;
}

.form-right {
    /* position: absolute; */
    /* right: 400px; */
    height: fit-content;
    width: fit-content;
    margin-left: -50px;
    /* padding: 7  0px; */
    filter: drop-shadow(0 0 1.25rem rgb(0, 0, 0));
}

.form-control {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}

.cursor:hover {
    cursor: pointer;
}

.register {
    display: none;
}