body {
    padding: 50px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/media/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif, serif;
}

.img-left {
    filter: drop-shadow(0 0 1.25rem rgb(0, 0, 0));
    z-index: -1;
    border-radius: 2%;
}

.form-right {
    /* position: absolute; */
    /* right: 400px; */
    height: fit-content;
    width: fit-content;
    margin-left: -30px;
    /* padding: 7  0px; */
}

.form-control {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
}