body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-view {
    border-radius: 20px !important;
    font-size: 15px !important;
    font-weight: bold !important;
}

.btn-view:hover,
.btn-view:active,
.btn-view:focus {
    color: #ffffff !important;
    background-color: #df8927 !important;
}

.icon-bar:active,
.icon-bar:focus {
    color: #df8927;
    display: block;
}

#dashTable {
    display: none;
}


/* css for table list ship */

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}